body {
   color: #ffffff;
   background: url(img/table.png) 0 0/cover;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 18px;
   text-align: center;
}
h1 {
   color: goldenrod;
}
h2 {
   color: #ffffff;
   font-size: 20px;
   font-style: italic;
}
.btns {
   display: flex;
   flex-direction: column;
   align-items: center;
}
button {
   font-size: 18px;
   color:green;
   background-color: goldenrod;
   border: none;
   width: 180px;
   margin-bottom: 5px;
   padding: 5px 0 2px;
   font-weight: bold;
   text-transform: uppercase;
   border-radius: 2px;
   cursor: pointer;
   display: block;
}
p {
   margin: 10px 0;
}
.flex {
   display: flex;
   flex-direction: column;
   height: 80vh;
   justify-content: center;
}
#save-btn {
   display: none;
   background-color: #e38952;
}

#github-link {
   display: block;
   width: max-content;
   border-radius: 50%;
   position: fixed;
   bottom: 3em;
   right: 5%;
   z-index: 100;
 }
 #github-link i {
   font-size: 3rem;
   color: white;
   animation: bounce 2s ease-in-out 3;
 }
 @keyframes bounce {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.5);
   }
   100% {
     transform: scale(1);
   }
 }


