body {
   font-family: 'Raleway', sans-serif;
   line-height: 1.4;
}

.container {
   padding: 0 3em;
}
.flex {
   display: flex;
}

// ======================================== header

.header {
   justify-content: space-between;
   align-items: center;
   position: fixed;
   width: 100%;
   transition: all 0.3s linear;
   background: transparent; 

   &__logo {
      font-size: 1.5rem;
      line-height: 1;
      color: black;
   }

   &__ul {
      margin: 0;
      list-style-type: none;
      padding: 0;
      li {
         padding: .8em 1em;
         font-size: 1.4rem;
         transition: background .3s ease-out;
      }

      a {
         font-family: 'Poppins', sans-serif;
         text-decoration: none;
         color:rgb(190, 49, 68);
         font-weight: bold;
         cursor: pointer;
         transition: color .3s ease-out;
      }
      a:hover {
         color: rgba(240, 240, 240, .85);
      }
   }
}

@media (max-width: 620px) {
   .header {
      flex-direction: column;
      justify-content: center;
      
      &__logo {
         padding-top: .5em;
      }
      li {
         padding: .8em .8em;
      }
   }
} 
// ====================================== welcome section

.welcome {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: rgba(240, 240, 240, 0.85);
   background-color: #404040;
   background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
   height: 100vh;

   &__heading {
      font-size: 3rem;
      padding: 0 .2em
   }

   &__subheading {
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      font-size: 2rem;
      color: rgb(190, 49, 68);
      font-style: italic;
      padding: 0 .4em;
   }
}

// ===================================== projects section

.projects {
   background: #45567d;
   padding-bottom: 3em;
   
   a {
      text-decoration: none;
   }

   &__heading {
      text-align: center;
      color: rgba(240, 240, 240, 0.85);
      font-size: 2.5rem;
      border-bottom: 0.15rem solid rgba(240, 240, 240, 0.85);
      max-width: 650px;
      padding-top: 1.6em;
      margin: 0 auto 2em;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
      grid-gap: 2em;
      max-width: 1500px;
      margin: 0 auto;
   }

   &__item {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   }

   &__img-div{
      height: 200px;
      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }

   &__title {
      color: rgba(240, 240, 240, 0.85);
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin: 0;
      line-height: normal;
      font-size: 1.2rem;
      padding: 3% 0;
      background: #303841;
   }

   .code {
      color: #303841;
      transition: color 0.3s ease-out;
   }
    
   &__item:hover .code,
   &__item:focus .code {
      color: #ff7f50;
   }

   &__btn-container {
      text-align: center;
   }

   &__btn-more,
   &__btn-hide {
      font-family: 'Poppins', sans-serif;
      color:rgba(240, 240, 240, 0.85);
      display: inline-block;
      padding: 0.5em 1em;
      border-radius: 2px;
      text-align: center;
      margin: 2em auto 0;
      text-align: center;
      font-size: 1.3rem;
      transition: background 0.3s ease-out;
      border: 0;
      cursor: pointer;
   }

   &__btn-more {
      background: #303841;
      width: 200px;
   }
   &__btn-more:hover {
      background: rgb(190, 49, 68);
   }

   &__btn-hide {
      background: rgb(190, 49, 68);
      width: 100px;
      display: none;
   }
   &__btn-hide:hover {
      background: #303841;
   }
}

@media (max-width: 620px) {
   .projects__heading {
      border: none;
      line-height: 1;
      margin: 2em .2em 1em;
      padding-top: 3em;
   }
}

@media (max-width: 450px) {
   .projects__grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 1em;
   }
   .projects.container {
      padding: 0 .5em;
   }
}

// ======================================= contact section

.contact {
   color: #f0f0f0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 80vh;
   background: #303841;

   &__heading {
      font-size: 4rem;
      margin-bottom: 0;
      border: 0;
   }

   &__subheading {
      font-style: italic;
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
      font-weight: 200;
      margin-bottom: 1em;
   }

   &__links {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 980px;
      margin-top: 2em;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
   }

   &__details {
      color:rgba(240, 240, 240, 0.85);
      display: block;
      padding: 0.5em 1em;
      border-radius: 2px;
      width: 200px;
      text-align: center;
      margin: 0 auto;

      text-decoration: none;
      font-size: 1.8rem;
      text-shadow: 2px 2px 1px #1f1f1f;
      transition: transform 0.3s ease-out;
      padding: 0 1em;
      margin: 0;
      width: fit-content;
   }
   &__details:hover {
      transform: translateY(8px);
   }
}

@media (max-width: 400px) {
   .contact__heading {
      font-size: 3rem;
   }
}

// =================================== footer

.footer {
   font-weight: 300;
   display: flex;
   justify-content: flex-end;
   padding: 2rem;
   background: #303841;
   border-top: 4px solid rgb(190, 49, 68);

   &__text {
      color: rgba(240, 240, 240, 0.85);
      margin: 0;
      margin-right: 2em;
      font-size: 1.2rem;
   }

   &__link {
      color: rgba(240, 240, 240, 0.85);
   }
}

.fa-github {
   font-size: 1.5em;
   transition: all .5s ease-out;
}
.fa-github:hover {
   transform: scale(1.2);
}

.preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: white;
   display: grid;
   justify-content: center;
   align-items: center;
   visibility: visible;
   z-index: 999;
   transition: all .5s ease-out;
 }
 .hide-preloader {
   z-index: -999;
   visibility: hidden;
 }







