body {
   background-color: #f5f9ff;
   display: flex;
   justify-content: center;
   align-items: center;
}
.white-wrapper {
   max-width: 65vw;
   padding: 2rem 0;
   margin: 0 auto ;
   background-color: white;
   box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
   border-radius: 10px;
   min-height: 90vh;
}

.input {
   border: 3px solid black;
   border-radius: 60px;
   max-width: 57vw;
   min-width: 400px;
   margin: 0 auto ;
   text-align: center;

   &__h1 {
      font-size: 3.3rem;
      margin: .5em auto;
   }

   &__inputField {
      margin-bottom: 2em;
      border: 2px solid black;
      border-radius: 5px;
      padding: 2px 5px;
      background-color: #f5f9ff;
   }

}
.output {
   margin: 0 auto;
   width: 60vw;
   text-align: center;

   &__ul {
      list-style-type: none;
      font-size: 1.5rem;
   }
}

#github-link {
   display: block;
   width: max-content;
   border-radius: 50%;
   position: fixed;
   bottom: 3em;
   right: 5%;
   z-index: 100;
 }
 #github-link i {
   font-size: 3rem;
   color: black;
   animation: bounce 2s ease-in-out 3;
 }
 @keyframes bounce {
   0% {
     transform: scale(1);
   }
   50% {
     transform: scale(1.5);
   }
   100% {
     transform: scale(1);
   }
 }

